<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>[% page.title %]</title>
<link rel="stylesheet" href="[% request.uri_base %]/css/pygments.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/site.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap.min.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap-octopussy.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/font-awesome.css" />